/*Savings Color Change */
    .NegativeSavings {
        color: #DC143C;
        font-weight: bold
    }

    .PositiveSavings {
        float: inherit;
        color: #169C08;
        font-weight: bold
    }

body {

    background-color: #212121;

}