/*Savings Color Change */
.NegativeSavings {
    color: #DC143C;
    font-weight: bold
}

.PositiveSavings {
    float: inherit;
    color: #169C08;
    font-weight: bold
}

body {
    background-color: #212121;
    color: white;
}

h1 {
    font-family: 'Andale Mono', AndaleMono, monospace;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 0;
    color: white;
    font-size: xx-large;
}

#total_spent {
    font-weight: bold;
}

.content {
    font-family: 'Andale Mono', AndaleMono, monospace;

}


.row {
    font-family: 'Andale Mono', AndaleMono, monospace;
    margin-left: 0;
    margin-right: 0;
    color: white;
    font-size: large;
}

#category {
    font-weight: lighter;
    color: white;
}

#summary {

}

.table {
    color: white;
}

