{% extends "base_alt.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href='{% static 'argent/css/argent_detail.css' %}'/>
{% endblock %}

{% block title %}
  <div class="container" id="content">
  <a href="{% url 'argent:entry-add' %}">
    <button type="button" class="btn btn-primary">
       <i class="fas fa-plus"></i> NEW ENTRY
    </button>
  </a>
  <h1>Details</h1>
{% endblock %}

{% block content %}
  <div class=row>
    <table class="table" id="summary">
      <thead>
      <tr>
        <th colspan="2" style="font-size: x-large">{{ object.date }} <a
            href="{% url 'argent:entry-update' object.id %}">
          <button type="button" class="btn btn-link btn-lg"
                  style="color: #FF5A09; padding: 0">
            <i class="fas fa-edit"></i>
          </button>
        </a></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th id="category">Receipts:</th>
        <td> {{ object.spending }} </td>
      </tr>
      {% if object.currency == 'USD' %}
        <tr>
          <th id="category"> Total Dollars Spent:</th>
          <td>${{ object.spending_sum }}</td>
        </tr>
      {% endif %}
      {% if object.currency == 'EUR' %}
        <tr id="total_spent">
          <th id="category">Total Euros Spent:</th>
          <td>€{{ object.spending_sum }}</td>
        </tr>
      {% endif %}
      {% if object.currency == 'GBP' %}
        <tr id="total_spent">
          <th id="category">Total Pounds Spent:</th>
          <td>£{{ object.spending_sum }}</td>
        </tr>
      {% endif %}
      {% if object.currency == 'CZK' %}
        <tr id="total_spent">
          <th id="category">Total Krona Spent:</th>
          <td>Kč{{ object.spending_sum }}</td>
        </tr>
      {% endif %}
      {% if object.currency == 'HUF' %}
        <tr id="total_spent">
          <th id="category">Total Forint Spent:</th>
          <td>Ft{{ object.spending_sum }}</td>
        </tr>
      {% endif %}
      {% if object.currency == 'CHF' %}
        <tr id="total_spent">
          <th id="category">Total Forint Spent:</th>
          <td>CHF{{ object.spending_sum }}</td>
        </tr>
      {% endif %}
      <tr>
        <th id="category">Total Dollars Spent:</th>
        <td>${{ object.dollars_sum }}</td>
      </tr>
      <tr>
        <th id="category">Exchange Rate:</th>
        <td>{{ object.xrate }}</td>
      </tr>
      <tr>
        <th align="left">Daily Savings:</th>
        <td>
          {% if object.daily_savings_dollars > 0 %}
            <div class="NegativeSavings" style="font-weight: bold">-
          {% else %}
            <div class="PositiveSavings" style="font-weight: bold">+
          {% endif %}
          ${{ object.daily_savings_display }}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <a href="{% url 'argent:entry-list' current_month %}">
      <button type="button" class="btn btn-primary">
        <i class="fas fa-list-ul"></i> {{ current_month|upper }}
      </button>
    </a>
    &nbsp
    <a href="{% url 'argent:index' %}">
      <button type="button" class="btn btn-primary">
        <i class="fas fa-tachometer-alt"></i> DASH
      </button>
    </a>
  </div>
  <!-- the rest of the fields.. -->
  </div>
  <br/>
  {#{% include "spendingtracker/includes/htmlsnippet.html" %}#}
{% endblock %}