{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href='{% static 'argent/css/argent_base.css' %}'/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato|Pacifico|Permanent Marker|Kalam">
{% endblock %}
{% block title %}
<div class="row" style="margin-left: 20px; margin-right: 20px;font-family: 'Lato', serif; color: white;">

    <div class="col-sm-6 col-md-6">
        <a href="{% url 'argent:index' %}">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;DASH
            </button>
        </a>
        <h1>New Entry</h1>
    </div>
</div>
{% endblock %}

{% block content %}
        <div class="row" style="margin-left: 20px; margin-right: 20px; font-family: 'Lato', serif; color: white;">
            <div class="col-sm-6 col-md-6">
                <h1>{{ title }}</h1>
                <form method="post" class="uniForm">
                    {% csrf_token %}
                    {% include 'argent/includes/form-template.html' %}

                    <input class='btn btn-primary' type="Submit" value="Submit" />
                </form>
            </div>
        </div>
    <br/>
{#{% include "spendingtracker/includes/htmlsnippet.html" %}#}
{% endblock %}
