{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato|Pacifico|Permanent Marker|Kalam">
<link rel="stylesheet" href='{% static 'argent/css/argent.css' %}'/>
{% endblock %}

{% block content %}

<div class="container container-fluid" style="font-family:'Lato', serif">

{#    <a href="{% url 'argent:entry-add' %}">#}
{#                    <button type="button" class="btn btn-primary">#}
{#                        <span class="glyphicon glyphicon-plus"></span>&nbsp; New Entry#}
{#                    </button>#}
{#    </a>#}

    <!-- Entry List -->
   <a href="{% url 'argent:index' %}">
                        <button type="button" class="btn btn-primary">Home
                    </button>
            </a>
    <div class="row" align="center">
        <div>
            &nbsp
        </div>

        {% if November16_qs %}
        {% for ctx in November16_qs %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail" style="background: #ebebeb" >
                    <h3 align="center" style="font-weight: bold; color: #337ab7;">{{ ctx.date }}</h3>
                    <div class="caption">
                        <h4 align="center" style="color: #FF5A09">€{{ ctx.euros_sum }}

                        <!-- View Details -->
                        <a href="{% url 'argent:detail' ctx.id %}"><button type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button></a>

                        <!-- Update -->
                        <a href="{% url 'argent:entry-update' ctx.id %}"><button type="button" class="btn btn-link btn-lg" style="padding: 0">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        </a>
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

    {% if December16_qs %}
        {% for ctx in December16_qs %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail" style="background: #ebebeb" >
                    <h3 align="center" style="font-weight: bold; color: #337ab7;">{{ ctx.date }}</h3>
                    <div class="caption">
                        <h4 align="center" style="color: #FF5A09">€{{ ctx.euros_sum }}

                        <!-- View Details -->
                        <a href="{% url 'argent:detail' ctx.id %}"><button type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button></a>

                        <!-- Update -->
                        <a href="{% url 'argent:entry-update' ctx.id %}"><button type="button" class="btn btn-link btn-lg" style="padding: 0">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        </a>
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

        {% if January17_qs %}
        {% for ctx in January17_qs %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail" style="background: #ebebeb" >
                    <h3 align="center" style="font-weight: bold; color: #337ab7;">{{ ctx.date }}</h3>
                    <div class="caption">
                        <h4 align="center" style="color: #FF5A09">€{{ ctx.euros_sum }}

                        <!-- View Details -->
                        <a href="{% url 'argent:detail' ctx.id %}"><button type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button></a>

                        <!-- Update -->
                        <a href="{% url 'argent:entry-update' ctx.id %}"><button type="button" class="btn btn-link btn-lg" style="padding: 0">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        </a>
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

        {% if February17_qs %}
        {% for ctx in February17_qs %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail" style="background: #ebebeb" >
                    <h3 align="center" style="font-weight: bold; color: #337ab7;">{{ ctx.date }}</h3>
                    <div class="caption">
                        <h4 align="center" style="color: #FF5A09">€{{ ctx.euros_sum }}

                        <!-- View Details -->
                        <a href="{% url 'argent:detail' ctx.id %}"><button type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button></a>

                        <!-- Update -->
                        <a href="{% url 'argent:entry-update' ctx.id %}"><button type="button" class="btn btn-link btn-lg" style="padding: 0">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        </a>
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

        {% if March17_qs %}
        {% for ctx in March17_qs %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail" style="background: #ebebeb" >
                    <h3 align="center" style="font-weight: bold; color: #337ab7;">{{ ctx.date }}</h3>
                    <div class="caption">
                        <h4 align="center" style="color: #FF5A09">€{{ ctx.euros_sum }}

                        <!-- View Details -->
                        <a href="{% url 'argent:detail' ctx.id %}"><button type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button></a>

                        <!-- Update -->
                        <a href="{% url 'argent:entry-update' ctx.id %}"><button type="button" class="btn btn-link btn-lg" style="padding: 0">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        </a>
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

    {% if April17_qs %}
        {% for ctx in April17_qs %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail" style="background: #ebebeb" >
                    <h3 align="center" style="font-weight: bold; color: #337ab7;">{{ ctx.date }}</h3>
                    <div class="caption">
                        <h4 align="center" style="color: #FF5A09">€{{ ctx.euros_sum }}

                        <!-- View Details -->
                        <a href="{% url 'argent:detail' ctx.id %}"><button type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button></a>

                        <!-- Update -->
                        <a href="{% url 'argent:entry-update' ctx.id %}"><button type="button" class="btn btn-link btn-lg" style="padding: 0">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        </a>
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{#{% include "spendingtracker/includes/htmlsnippet.html" %}#}

{% endblock %}