{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block head %}

<link rel="stylesheet" href='{% static 'argent/css/argent_index.css' %}'/>
{% endblock %}

{% block title %}
&nbsp;
<div class="container container-fluid">
    <div class="jumbotron">
        {% if entry_qs %}
        {% for ctx in entry_qs %}

        <div class="jumbo-button">
        <a href="{% url 'argent:entry-update' ctx.id %}"><button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp; UPDATE
                    </button></a>

        </div>
        <h1 class="h1-jumbo">Today's Spending</h1>
        <div class="col-lg">
            <div class="container">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="th-date" colspan="2">{{ ctx.date }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="th-jumbo">Receipts:</th>
                            <td class="td-jumbo"> {{ ctx.spending }} </td>
                        </tr>
                        {% if ctx.currency == 'USD' %}
                        <tr>
                            <th class="th-jumbo">Total Dolalrs Spent:</th>
                            <td class="td-jumbo">${{ctx.spending_sum}}</td>
                        </tr>
                        {% endif %}
                        {% if ctx.currency == 'EUR' %}
                        <tr>
                            <th class="th-jumbo">Total Euros Spent:</th>
                            <td class="td-jumbo">€{{ctx.spending_sum}}</td>
                        </tr>
                        {% endif %}
                        {% if ctx.currency == 'GBP' %}
                        <tr>
                            <th class="th-jumbo">Total Pounds Spent:</th>
                            <td class="td-jumbo">£{{ctx.spending_sum}}</td>
                        </tr>
                        {% endif %}
                        {% if ctx.currency == 'CZK' %}
                        <tr>
                            <th class="th-jumbo">Total Krona Spent:</th>
                            <td class="td-jumbo">Kč{{ctx.spending_sum}}</td>
                        </tr>
                        {% endif %}
                        {% if ctx.currency == 'HUF' %}
                        <tr>
                            <th class="th-jumbo">Total Forint Spent:</th>
                            <td class="td-jumbo">Ft{{ctx.spending_sum}}</td>
                        </tr>
                        {% endif %}
                        {% if ctx.currency == 'CHF' %}
                        <tr>
                            <th class="th-jumbo">Total Francs Spent:</th>
                            <td class="td-jumbo">CHF{{ctx.spending_sum}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th class="th-jumbo">Total Dollars Spent:</th>
                            <td class="td-jumbo">${{ctx.dollars_sum}}</td>
                        </tr>
                        <tr>
                            <th class="th-jumbo">Exchange Rate:</th>
                            <td class="td-jumbo">{{ ctx.xrate }}</td>
                        </tr>
                        <tr>
                            <th class="th-jumbo">Daily Savings:</th>

                            <td class="td-jumbo">
                                {% if ctx.daily_savings_dollars > 0 %}
                                <div class="NegativeSavings">-
                                {% else %}
                                <div class="PositiveSavings">+
                                {% endif %}
                                ${{ ctx.daily_savings_display }}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>
            <div class="container">
                {% if savings_qs %}
                {% for ctx in savings_qs %}
                <table class="table table-condensed">
                    <tbody align="center">
                        <tr>
                            <th class="th-jumbo-foot">Total Spending</th>
                            <th class="th-jumbo-foot">Total Savings</th>
                        </tr>
                        <tr>
                            <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }} </td>
                            <td class="td-jumbo-foot">
                                {% if ctx.total_savings  > 0 %}
                                        <div class="NegativeSavings" style="font-weight: bold">-
                                        {% else %}
                                        <div class="PositiveSavings" style="font-weight: bold">+
                                        {% endif %}
                                ${{ctx.total_savings_display|intcomma}} </td>
                        </tr>
                    </tbody>
                </table>
    </div>
        {% endfor %}
        {% endif %}
            </div>
        {% endfor %}
        {% else %}
            <h1 align="center" style="font-family: 'Indie Flower', serif">No entries for today yet...</h1>
            <h4 align="center"><a href="{% url 'argent:entry-add' %}">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; NEW ENTRY
                        </button></a>
            </h4>
        {% endif %}
</div>
{% endblock %}

{% block content %}

<div>
    &nbsp
</div>
<div class="container">
    <div class="row" style="height: 300px; width:100%">
        <canvas id="myChart" width="100%" height="100%"></canvas>
    </div>


    <script>
    {% block jquery %}
    var endpoint = 'api/chart/data/';
    var defaultData = [];
    var labels = [];

    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            labels = data.labels;
            defaultData = data.default;
            setChart()

        },

            error: function(error_data) {
                console.log("error");
                console.log(error_data)
        }
    });

    function setChart(){
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Total Dollars Spent',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(200, 50, 98, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(200, 50, 98, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
            maintainAspectRatio: false,
            legend: {labels:{fontColor:"white", fontSize: 18, fontFamily: "Indie Flower"}},
            title: {
                display: true,
                text: 'Monthly Totals',
                fontColor: 'white',
                fontFamily: 'Indie Flower',
                fontSize:25},

                scales: {
                    xAxes: [{
                    gridLines: {
                    display: false
                  },
                        ticks: {
                            fontFamily: "Indie Flower",
                            fontColor: 'white',
                            fontSize:16}
                        }],
                    yAxes: [{
                        ticks: {
                            fontFamily: "Indie Flower",
                            fontColor: "White",
                            fontSize: 16,
                            beginAtZero: true

                        }
                    }]
                }
            }
        })
    }

    {% endblock %}
    </script>
</div>



<div class="container container-fluid">
    <div>
        &nbsp
    </div>
    <div class="card-button"><a href="{% url 'argent:entry-add' %}">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; NEW ENTRY
                        </button></a>
    </div>

    <!-- Entry List By Month-->
    <div class="row" align="center">
        <div>
            &nbsp
        </div>

{#        NOVEMBER 16#}
        {% if November16_qs %}
        {% for ctx in November16_qs %}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <h2>{{ ctx.month }} {{ ctx.year }}</h2>
                    <div class="caption">
                        <table class="table">
                            <tr>
                                <th class="th-card">
                                   Spent
                                </th>
                                <th class="th-card">
                                    Saved
                                </th>
                            </tr>
                            <tr>
                            <td class="td-month">${{ ctx.total_spent_dollars|intcomma}}</td>
                            {% if ctx.total_savings  > 0 %}
                                <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% else %}
                                <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% endif %}
                            </tr>
                        </table>
                                <h3 class="card-button">
                                    <!-- View Details -->
                                    <a href="{% url 'argent:entry-list' 'November' %}">
                                        <button type="button" class="btn btn-default" style="color: #337ab7">
                                            <span class="glyphicon glyphicon-list"></span>&nbsp; VIEW ALL
                                        </button>
                                    </a>
                                </h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

{#        DECEMBER 16#}
        {% if December16_qs %}
        {% for ctx in December16_qs %}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <h2>{{ ctx.month }} {{ ctx.year }}</h2>
                    <div class="caption">
                        <table class="table">
                            <tr>
                                <th class="th-card">
                                   Spent
                                </th>
                                <th class="th-card">
                                    Saved
                                </th>
                            </tr>
                            <tr>
                            <td class="td-month">${{ ctx.total_spent_dollars|intcomma}}</td>
                            {% if ctx.total_savings  > 0 %}
                                <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% else %}
                                <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% endif %}
                            </tr>
                                </table>
                                <h3 class="card-button">
                                    <!-- View Details -->
                                    <a href="{% url 'argent:entry-list' 'December' %}">
                                        <button type="button" class="btn btn-default" style="color: #337ab7">
                                            <span class="glyphicon glyphicon-list"></span>&nbsp; VIEW ALL
                                        </button>
                                    </a>
                                </h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

{#        JANUARY#}
        {% if January17_qs %}
        {% for ctx in January17_qs %}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <h2>{{ ctx.month }} {{ ctx.year }}</h2>
                    <div class="caption">
                        <table class="table">
                            <tr>
                                <th class="th-card">
                                   Spent
                                </th>
                                <th class="th-card">
                                    Saved
                                </th>
                            </tr>
                            <tr>
                            <td class="td-month">${{ ctx.total_spent_dollars|intcomma}}</td>
                            {% if ctx.total_savings  > 0 %}
                                <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% else %}
                                <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% endif %}
                            </tr>
                               </table>
                                <h3 class="card-button">
                                    <!-- View Details -->
                                    <a href="{% url 'argent:entry-list' 'January' %}">
                                        <button type="button" class="btn btn-default" style="color: #337ab7">
                                            <span class="glyphicon glyphicon-list"></span>&nbsp; VIEW ALL
                                        </button>
                                    </a>
                                </h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

{#        FEBRUARY#}
        {% if February17_qs %}
        {% for ctx in February17_qs %}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <h2>{{ ctx.month }} {{ ctx.year }}</h2>
                    <div class="caption">
                        <table class="table">
                            <tr>
                                <th class="th-card">
                                   Spent
                                </th>
                                <th class="th-card">
                                    Saved
                                </th>
                            </tr>
                            <tr>
                            <td class="td-month">${{ ctx.total_spent_dollars|intcomma}}</td>
                            {% if ctx.total_savings  > 0 %}
                                <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% else %}
                                <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% endif %}
                            </tr>
                                </table>
                                <h3 class="card-button">
                                    <!-- View Details -->
                                    <a href="{% url 'argent:entry-list' 'February' %}">
                                        <button type="button" class="btn btn-default" style="color: #337ab7">
                                            <span class="glyphicon glyphicon-list"></span>&nbsp; VIEW ALL
                                        </button>
                                    </a>
                                </h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

{#        MARCH#}
        {% if March17_qs %}
        {% for ctx in March17_qs %}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <h2>{{ ctx.month }} {{ ctx.year }}</h2>
                    <div class="caption">
                        <table class="table">
                            <tr>
                                <th class="th-card">
                                   Spent
                                </th>
                                <th class="th-card">
                                    Saved
                                </th>
                            </tr>
                            <tr>
                            <td class="td-month">${{ ctx.total_spent_dollars|intcomma}}</td>
                            {% if ctx.total_savings  > 0 %}
                                <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% else %}
                                <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% endif %}
                            </tr>
                                </table>
                                <h3 class="card-button">
                                    <!-- View Details -->
                                    <a href="{% url 'argent:entry-list' 'March' %}">
                                        <button type="button" class="btn btn-default" style="color: #337ab7">
                                            <span class="glyphicon glyphicon-list"></span>&nbsp; VIEW ALL
                                        </button>
                                    </a>
                                </h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

{#     April#}
        {% if April17_qs %}
        {% for ctx in April17_qs %}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <h2>{{ ctx.month }} {{ ctx.year }}</h2>
                    <div class="caption">
                        <table class="table">
                            <tr>
                                <th class="th-card">
                                   Spent
                                </th>
                                <th class="th-card">
                                    Saved
                                </th>
                            </tr>
                            <tr>
                            <td class="td-month">${{ ctx.total_spent_dollars|intcomma}}</td>
                            {% if ctx.total_savings  > 0 %}
                                <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% else %}
                                <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% endif %}
                            </tr>
                                </table>
                                <h3 class="card-button">
                                    <!-- View Details -->
                                    <a href="{% url 'argent:entry-list' 'April' %}">
                                        <button type="button" class="btn btn-default" style="color: #337ab7">
                                            <span class="glyphicon glyphicon-list"></span>&nbsp; VIEW ALL
                                        </button>
                                    </a>
                                </h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

        {#May#}
        {% if May17_qs %}
        {% for ctx in May17_qs %}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <h2>{{ ctx.month }} {{ ctx.year }}</h2>
                    <div class="caption">
                        <table class="table">
                            <tr>
                                <th class="th-card">
                                   Spent
                                </th>
                                <th class="th-card">
                                    Saved
                                </th>
                            </tr>
                            <tr>
                            <td class="td-month">${{ ctx.total_spent_dollars|intcomma}}</td>
                            {% if ctx.total_savings  > 0 %}
                                <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% else %}
                                <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                                    {% endif %}
                            </tr>
                                </table>
                                <h3 class="card-button">
                                    <!-- View Details -->
                                    <a href="{% url 'argent:entry-list' 'May' %}">
                                        <button type="button" class="btn btn-default" style="color: #337ab7">
                                            <span class="glyphicon glyphicon-list"></span>&nbsp; VIEW ALL
                                        </button>
                                    </a>
                                </h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
</div>

{#{% include "spendingtracker/includes/htmlsnippet.html" %}#}

{% endblock %}