{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block head %}
  <link rel="stylesheet" href='{% static 'argent/css/argent_index.css' %}' xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block content %}

  <div class="container" id="content">
    <div class="alert alert-info" role="alert" style="margin-bottom: 10px">
      <h3 style="margin: 2px"><a href="{% url 'posts:detail' 'travel-save' %}" class="alert-link"> Click here</a> to
        learn more about this DEMO.</h3>
    </div>
    <a class="card-button" href="{% url 'argent:index' %}">
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-dashboard"></span>&nbsp; DASH
      </button>
    </a>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="list_title">{{ month }}</h1>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% if savings %}
          {% for ctx in savings %}
            <h1 class="monthly_total">
              <small class="monthly_total_neg">- ${{ ctx.total_spent_dollars|intcomma }}</small>
              <small class="monthly_total_pos">+ ${{ ctx.total_savings_display|intcomma }}</small>
            </h1>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <!-- Entry List -->

    <div class="row" align="center">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="dash"><span class="glyphicon glyphicon-edit btn-lg" aria-hidden="true"
                                   style="color: white; padding: 0"></span></th>
            <th class="dash">Date</th>
            <th class="dash">Spending</th>
            <th class="dash">Savings</th>
          </tr>
          </thead>
          {% if June17_qs %}
            {% for ctx in June17_qs %}
              <tr>
                <td class="dash"><a href="{% url 'argent:entry-update' ctx.id %}">
                  <span class="glyphicon glyphicon-edit btn-lg" aria-hidden="true"
                        style="color: #FF5A09; padding: 0"></span>
                </a></td>
                <td class="dash"><a class="dash" href="{% url 'argent:detail' ctx.id %}">{{ ctx.date }}</a>
                </td>
                <td class="td-jumbo-foot"> - ${{ ctx.dollars_sum|intcomma }}</td>
                {% if ctx.daily_savings_dollars  > 0 %}
                  <td class="NegativeSavings">-${{ ctx.daily_savings_display|intcomma }}</td>
                {% else %}
                  <td class="PositiveSavings">+ ${{ ctx.daily_savings_display|intcomma }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endif %}

          {% if May17_qs %}
            {% for ctx in May17_qs %}
              <tr>
                <td class="dash"><a href="{% url 'argent:entry-update' ctx.id %}">
                  <span class="glyphicon glyphicon-edit btn-lg" aria-hidden="true"
                        style="color: #FF5A09; padding: 0"></span>
                </a></td>
                <td class="dash"><a class="dash" href="{% url 'argent:detail' ctx.id %}">{{ ctx.date }}</a>
                </td>
                <td class="td-jumbo-foot"> - ${{ ctx.dollars_sum|intcomma }}</td>
                {% if ctx.daily_savings_dollars  > 0 %}
                  <td class="NegativeSavings">-${{ ctx.daily_savings_display|intcomma }}</td>
                {% else %}
                  <td class="PositiveSavings">+ ${{ ctx.daily_savings_display|intcomma }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endif %}

          {% if April17_qs %}
            {% for ctx in April17_qs %}
              <tr>
                <td class="dash"><a href="{% url 'argent:entry-update' ctx.id %}">
                  <span class="glyphicon glyphicon-edit btn-lg" aria-hidden="true"
                        style="color: #FF5A09; padding: 0"></span>
                </a></td>
                <td class="dash"><a class="dash" href="{% url 'argent:detail' ctx.id %}">{{ ctx.date }}</a>
                </td>
                <td class="td-jumbo-foot"> - ${{ ctx.dollars_sum|intcomma }}</td>
                {% if ctx.daily_savings_dollars  > 0 %}
                  <td class="NegativeSavings">-${{ ctx.daily_savings_display|intcomma }}</td>
                {% else %}
                  <td class="PositiveSavings">+ ${{ ctx.daily_savings_display|intcomma }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endif %}

          {% if March17_qs %}
            {% for ctx in March17_qs %}
              <tr>
                <td class="dash"><a href="{% url 'argent:entry-update' ctx.id %}">
                  <span class="glyphicon glyphicon-edit btn-lg" aria-hidden="true"
                        style="color: #FF5A09; padding: 0"></span>
                </a></td>
                <td class="dash"><a class="dash" href="{% url 'argent:detail' ctx.id %}">{{ ctx.date }}</a>
                </td>
                <td class="td-jumbo-foot"> - ${{ ctx.dollars_sum|intcomma }}</td>
                {% if ctx.daily_savings_dollars  > 0 %}
                  <td class="NegativeSavings">-${{ ctx.daily_savings_display|intcomma }}</td>
                {% else %}
                  <td class="PositiveSavings">+ ${{ ctx.daily_savings_display|intcomma }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endif %}

          {% if February17_qs %}
            {% for ctx in February17_qs %}
              <tr>
                <td class="dash"><a href="{% url 'argent:entry-update' ctx.id %}">
                  <span class="glyphicon glyphicon-edit btn-lg" aria-hidden="true"
                        style="color: #FF5A09; padding: 0"></span>
                </a></td>
                <td class="dash"><a class="dash" href="{% url 'argent:detail' ctx.id %}">{{ ctx.date }}</a>
                </td>
                <td class="td-jumbo-foot"> - ${{ ctx.dollars_sum|intcomma }}</td>
                {% if ctx.daily_savings_dollars  > 0 %}
                  <td class="NegativeSavings">-${{ ctx.daily_savings_display|intcomma }}</td>
                {% else %}
                  <td class="PositiveSavings">+ ${{ ctx.daily_savings_display|intcomma }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endif %}

          {% if January17_qs %}
            {% for ctx in January17_qs %}
              <tr>
                <td class="dash"><a href="{% url 'argent:entry-update' ctx.id %}">
                  <span class="glyphicon glyphicon-edit btn-lg" aria-hidden="true"
                        style="color: #FF5A09; padding: 0"></span>
                </a></td>
                <td class="dash"><a class="dash" href="{% url 'argent:detail' ctx.id %}">{{ ctx.date }}</a>
                </td>
                <td class="td-jumbo-foot"> - ${{ ctx.dollars_sum|intcomma }}</td>
                {% if ctx.daily_savings_dollars  > 0 %}
                  <td class="NegativeSavings">-${{ ctx.daily_savings_display|intcomma }}</td>
                {% else %}
                  <td class="PositiveSavings">+ ${{ ctx.daily_savings_display|intcomma }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endif %}

          {% if December16_qs %}
            {% for ctx in December16_qs %}
              <tr>
                <td class="dash"><a href="{% url 'argent:entry-update' ctx.id %}">
                  <span class="glyphicon glyphicon-edit btn-lg" aria-hidden="true"
                        style="color: #FF5A09; padding: 0"></span>
                </a></td>
                <td class="dash"><a class="dash" href="{% url 'argent:detail' ctx.id %}">{{ ctx.date }}</a>
                </td>
                <td class="td-jumbo-foot"> - ${{ ctx.dollars_sum|intcomma }}</td>
                {% if ctx.daily_savings_dollars  > 0 %}
                  <td class="NegativeSavings">-${{ ctx.daily_savings_display|intcomma }}</td>
                {% else %}
                  <td class="PositiveSavings">+ ${{ ctx.daily_savings_display|intcomma }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endif %}

          {% if November16_qs %}
            {% for ctx in November16_qs %}
              <tr>
                <td class="dash"><a href="{% url 'argent:entry-update' ctx.id %}">
                  <span class="glyphicon glyphicon-edit btn-lg" aria-hidden="true"
                        style="color: #FF5A09; padding: 0"></span>
                </a></td>
                <td class="dash"><a class="dash" href="{% url 'argent:detail' ctx.id %}">{{ ctx.date }}</a>
                </td>
                <td class="td-jumbo-foot"> - ${{ ctx.dollars_sum|intcomma }}</td>
                {% if ctx.daily_savings_dollars  > 0 %}
                  <td class="NegativeSavings">-${{ ctx.daily_savings_display|intcomma }}</td>
                {% else %}
                  <td class="PositiveSavings">+ ${{ ctx.daily_savings_display|intcomma }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endif %}

        </table>

      </div>
    </div>
    <br/>
    <a class="card-button" href="{% url 'argent:entry-add' %}">
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>&nbsp; NEW ENTRY
      </button>
    </a>
  </div>
  <br/>

{% endblock %}