{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href='{% static 'argent/css/argent_index.css' %}'/>
{% endblock %}

{% block title %}
<br/>
<div class="container container-fluid">
    <div class="jumbotron">
        {% if entry_qs %}
        {% for ctx in entry_qs %}

        <div class="jumbo-button">
        <a href="{% url 'argent:entry-update' ctx.id %}"><button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp; UPDATE
                    </button></a>

        </div>
        <h1 class="h1-jumbo">Today's Spending</h1>
        <div class="col-lg">
            <div class="container">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="th-date" colspan="2">{{ ctx.date }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="th-jumbo">Receipts:</th>
                            <td class="td-jumbo"> {{ ctx.spending }} </td>
                        </tr>
                        {% if ctx.currency == 'USD' %}
                        <tr>
                            <th class="th-jumbo">Total Dollars Spent:</th>
                            <td class="td-jumbo">${{ctx.spending_sum}}</td>
                        </tr>
                        {% elif ctx.currency == 'EUR' %}
                        <tr>
                            <th class="th-jumbo">Total Euros Spent:</th>
                            <td class="td-jumbo">€{{ctx.spending_sum}}</td>
                        </tr>
                        {% elif ctx.currency == 'GBP' %}
                        <tr>
                            <th class="th-jumbo">Total Pounds Spent:</th>
                            <td class="td-jumbo">£{{ctx.spending_sum}}</td>
                        </tr>
                        {% elif ctx.currency == 'CZK' %}
                        <tr>
                            <th class="th-jumbo">Total Krona Spent:</th>
                            <td class="td-jumbo">Kč{{ctx.spending_sum}}</td>
                        </tr>
                        {% elif ctx.currency == 'HUF' %}
                        <tr>
                            <th class="th-jumbo">Total Forint Spent:</th>
                            <td class="td-jumbo">Ft{{ctx.spending_sum}}</td>
                        </tr>
                        {% elif ctx.currency == 'CHF' %}
                        <tr>
                            <th class="th-jumbo">Total Francs Spent:</th>
                            <td class="td-jumbo">CHF{{ctx.spending_sum}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th class="th-jumbo">Total Dollars Spent:</th>
                            <td class="td-jumbo">${{ctx.dollars_sum}}</td>
                        </tr>
                        <tr>
                            <th class="th-jumbo">Exchange Rate:</th>
                            <td class="td-jumbo">{{ ctx.xrate }}</td>
                        </tr>
                        <tr>
                            <th class="th-jumbo">Daily Savings:</th>
                            {% if ctx.daily_savings_dollars > 0 %}
                            <td class="NegativeSavings">-
                            {% else %}
                            <td class="PositiveSavings">+
                            {% endif %}
                            ${{ ctx.daily_savings_display }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% if savings_qs %}
        {% for ctx in savings_qs %}
        <div class="container">
            <table class="table table-condensed">
                <tbody align="center">
                    <tr>
                        <th class="th-jumbo-foot">Total Spending</th>
                        <th class="th-jumbo-foot">Total Savings</th>
                    </tr>
                    <tr>
                        <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }}</td>
                        {% if ctx.total_savings  > 0 %}
                        <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                        {% else %}
                        <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            <div id="chart2" class="row">
            <canvas id="myChart2" width="100%" height="100%"></canvas>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% endfor %}

        {% else %}
            <h1 align="center" style="font-family: 'Indie Flower', serif">No entries for today yet...</h1>
            <h4 align="center"><a href="{% url 'argent:entry-add' %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; NEW ENTRY
                </button></a>
            </h4>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<br/>

<div class="container container-fluid">
    <br/>
    <div class="card-button"><a href="{% url 'argent:entry-add' %}">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; NEW ENTRY
                        </button></a>
    </div>

    <br/>

    <div id="chart" class="row" style="height: 250px; width:100%">
        <canvas id="myChart" width="100%" height="100%"></canvas>
    </div>

    <script>
    {% block jquery %}
    var endpoint = 'api/chart/data/';
    var defaultData = [];
    var defaultData2 = [];
    var total_spending = [];
    var total_saving = [];
    var labels = [];
    var spent_label = [];
    var saved_label = [];


    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            labels = data.labels;
            spent_label = data.spent_label;
            saved_label = data.saved_label;
            defaultData = data.spending;
            defaultData2 = data.savings;
            total_saving = data.total_saving;
            total_spending = data.total_spending;

            setChart()

        },

            error: function(error_data) {
                console.log("error");
                console.log(error_data)
        }
    });

    function setChart() {
        var ctx = document.getElementById("myChart");
        var ctx2 = document.getElementById("myChart2");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    type: 'line',
                    label: 'Total Spent',
                    data: defaultData,
                    borderWidth: 4,
                    borderColor: 'crimson'
                },
                    {
                        type: 'line',
                        label: 'Total Saved',
                        data: defaultData2,
                        borderWidth: 4,
                        borderColor: 'green'

                    }]
            },

            options: {
                maintainAspectRatio: false,
                legend: {
                    labels: {fontColor: "white", fontSize: 18, fontFamily: "Indie Flower"},
                    display: false

                    },
                title: {
                    display: false,
                    text: 'Monthly Totals',
                    fontColor: 'white',
                    fontFamily: 'Indie Flower',
                    fontSize: 25
                },

                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            fontFamily: "Indie Flower",
                            fontColor: 'white',
                            fontSize: 16
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            fontFamily: "Indie Flower",
                            fontColor: "White",
                            fontSize: 16,
                            beginAtZero: true

                        }
                    }]
                }
            }
        });
        var myChart2 = new Chart(ctx2, {
            type: 'horizontalBar',
            data: {
                labels: ['2017'],
                datasets: [{
            data: total_spending,
            backgroundColor: 'rgba(220, 20, 60, .7)'
        },{
            data: total_saving,
            backgroundColor: 'rgba(0, 128, 0, .7)'
        }]
            },

            options: {
                tooltips: {
                enabled: false
                },
                maintainAspectRatio: false,
                legend: {
                    labels: {fontColor: "white", fontSize: 18, fontFamily: "Indie Flower"},
                    display: false
                    },
                title: {
                    display: false,
                    fontColor: 'white',
                    fontFamily: 'Indie Flower',
                    fontSize: 25
                },
                scales: {
                    xAxes: [{
                        display: false,
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            fontFamily: "Indie Flower",
                            fontColor: 'white',
                            fontSize: 16,
                            beginAtZero: true
                        },
                        stacked: true
                    }],
                    yAxes: [{
                        ticks: {
                            display: true,
                            fontFamily: "Indie Flower",
                            fontColor: "#FF5A09",
                            fontSize: 16,
                            beginAtZero: true
                        },
                        stacked: true
                    }]
                }
            }
        })
    }
    {% endblock %}
    </script>

    <!-- Entry List By Month-->
    <div class="row" align="center">
        <br/>
        <div class="col-md-12 col-sm-12 col-xs-12" >
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="dash">Year</th>
                        <th class="dash">Month</th>
                        <th class="dash">Total Spending</th>
                        <th class="dash">Total Savings</th>
                    </tr>
                </thead>
                {% if June17_qs %}
                {% for ctx in June17_qs %}
                <tr>
                    <td class="dash">2017</td>
                    <td class="dash"><a class="dash" href="{% url 'argent:entry-list' 'June' %}">June</a></td>
                    <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }}</td>
                    {% if ctx.total_savings  > 0 %}
                    <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                    {% else %}
                    <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

                {% if May17_qs %}
                {% for ctx in May17_qs %}
                <tr>
                    <td class="dash">2017</td>
                    <td class="dash"><a class="dash" href="{% url 'argent:entry-list' 'May' %}">May</a></td>
                    <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }}</td>
                    {% if ctx.total_savings  > 0 %}
                    <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                    {% else %}
                    <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

                {% if April17_qs %}
                {% for ctx in April17_qs %}
                <tr>
                    <td class="dash">2017</td>
                    <td class="dash"><a class="dash" href="{% url 'argent:entry-list' 'April' %}">April</a></td>
                    <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }}</td>
                    {% if ctx.total_savings  > 0 %}
                    <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                    {% else %}
                    <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

                {% if March17_qs %}
                {% for ctx in March17_qs %}
                <tr>
                    <td class="dash">2017</td>
                    <td class="dash"><a class="dash" href="{% url 'argent:entry-list' 'March' %}">March</a></td>
                    <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }}</td>
                    {% if ctx.total_savings  > 0 %}
                    <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                    {% else %}
                    <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

                {% if February17_qs %}
                {% for ctx in February17_qs %}
                <tr>
                    <td class="dash">2017</td>
                    <td class="dash"><a class="dash" href="{% url 'argent:entry-list' 'February' %}">February</a></td>
                    <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }}</td>
                    {% if ctx.total_savings  > 0 %}
                    <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                    {% else %}
                    <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

                {% if January17_qs %}
                {% for ctx in January17_qs %}
                <tr>
                    <td class="dash">2017</td>
                    <td class="dash"><a class="dash" href="{% url 'argent:entry-list' 'January' %}">January</a></td>
                    <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }}</td>
                    {% if ctx.total_savings  > 0 %}
                    <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                    {% else %}
                    <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

                {% if December16_qs %}
                {% for ctx in December16_qs %}
                <tr>
                    <td class="dash">2016</td>
                    <td class="dash"><a class="dash" href="{% url 'argent:entry-list' 'December' %}">December</a></td>
                    <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }}</td>
                    {% if ctx.total_savings  > 0 %}
                    <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                    {% else %}
                    <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

                {% if November16_qs %}
                {% for ctx in November16_qs %}
                <tr>
                    <td class="dash">2016</td>
                    <td class="dash"><a class="dash" href="{% url 'argent:entry-list' 'November' %}">November</a></td>
                    <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }}</td>
                    {% if ctx.total_savings  > 0 %}
                    <td class="NegativeSavings">- ${{ ctx.total_savings_display|intcomma }}</td>
                    {% else %}
                    <td class="PositiveSavings">+ ${{ ctx.total_savings_display|intcomma }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

                {% if savings_qs %}
                {% for ctx in savings_qs %}
                <tr class="foot">
                    <th class="dash" colspan="2">TOTAL</th>
                    <td class="td-jumbo-foot"> - ${{ctx.total_spent_dollars|intcomma }} </td>
                    {% if ctx.total_savings  > 0 %}
                    <td class="NegativeSavings" style="font-weight: bold">- ${{ctx.total_savings_display|intcomma}}</td>
                    {% else %}
                    <td class="PositiveSavings" style="font-weight: bold">+ ${{ctx.total_savings_display|intcomma}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

            </table>

        </div>
    </div>
</div>
<br/>

{#{% include "spendingtracker/includes/htmlsnippet.html" %}#}

{% endblock %}