{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static 'posts/css/posts.css' %}' />
{% endblock %}

{% block content %}
<br/>
<div class="container container-fluid">
    {% for obj in object_list %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="thumbnail">
            {#            {% if instance.image %}#}
            {#                <img src="{{ instance.image.url }}" class="img-responsive" />#}
            {#            {% endif %}#}
                <div class="caption">
                <h1>{{ title }}</h1>
                <hr/>
                {#                  <p></p>#}
                {{ obj.get_markdown }}
                <h1 align="center"><a class="btn btn-lg btn-primary" href="{% static 'docs/resume/resume.pdf' %}" TARGET="_blank" role="button">Browse Rèsumè</a></h1>
                <hr/>

                <p align="right"><small>Updated: {{ obj.updated|timesince }} ago</small></p>
                </div>
            </div>
        </div>
    <br/>
    </div>
    {% endfor %}
</div>

{% endblock %}