{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static 'posts/css/post.css' %}' />
{% endblock %}

{% block content %}
<br/>
{% for obj in object_list %}
    <div class="row">
       <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
            <div class="thumbnail">
    {#            {% if instance.image %}#}
    {#                <img src="{{ instance.image.url }}" class="img-responsive" />#}
    {#            {% endif %}#}
              <div class="caption">
                <h1>{{ title }}</h1>
{#                  <p></p>#}
                <p>{{ obj.content|linebreaks }}</p>
                  <p align="right"><small>Published: {{ obj.timestamp|timesince }} ago</small></p>
              </div>
            </div>
        </div>
    <br/>
    </div>
{% endfor %}
{% endblock %}


<