{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static 'home/css/about.css' %}' />
{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}
    <h3 id="register">All features available upon <a href="{% url 'accounts:register' %}">registration</a>.</h3>
{% endif %}
<div class="container container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a class="tabheader" href="#home" aria-controls="home" role="tab" data-toggle="tab">VVAYNE.CO</a></li>
            <li role="presentation"><a class="tabheader" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ABOUT ME</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    {% for obj in AboutVV %}
                    <div class="thumbnail">
            {#            {% if instance.image %}#}
            {#                <img src="{{ instance.image.url }}" class="img-responsive" />#}
            {#            {% endif %}#}
                        <div class="caption">
                            <h1>{{ obj.title }}</h1>
                            <hr/>
                            {{ obj.get_markdown }}
                            <h1 align="center"><a class="btn btn-lg btn-primary" href="{% url 'home:feedback' %}" role="button">Send Feedback</a></h1>
                            <hr/>
                            <p align="right"><small>Updated: {{ obj.updated|timesince }} ago</small></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    {% for obj in AboutMe %}
                    <div class="thumbnail">
            {#            {% if instance.image %}#}
            {#                <img src="{{ instance.image.url }}" class="img-responsive" />#}
            {#            {% endif %}#}
                        <div class="caption">
                            <h1>{{ obj.title }}</h1>
                            <hr/>
                            {{ obj.get_markdown }}
                            {% if request.user.is_authenticated %}
                            <h1 align="center"><a class="btn btn-lg btn-primary" href="{% static 'docs/resume/resume.pdf' %}" TARGET="_blank" role="button">Browse Rèsumè</a></h1>
                            {% endif %}
                            <hr/>
                            <p align="right"><small>Updated: {{ obj.updated|timesince }} ago</small></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}






