{% extends "base.html" %}
{% load static %}

    {% block head %}
        <link rel="stylesheet" href='{% static 'base/css/home.css' %}'/>
    {% endblock %}

    {% block content %}
        <div class="wide">
            <div class="col-xs-5 line"><hr></div>
            <div class="col-xs-2 logo">VVAYNE</div>
            <div class="col-xs-5 line"><hr></div>

        </div>

        </div><!-- /.container -->
        <div class="page-header" style="color: white; margin-left: 20px; margin-right: 20px">
            <h1>Welcome to my site! <small>vvayne.co</small></h1>
            <h4 style="padding-bottom: 60px">Have a look around! Everything you see is fully operational. If you have any comments, please submit them here.</h4>
        </div>
        <div style="color: white; margin-left: 20px; margin-right: 20px">
            <h4>My Apps</h4>
        </div>
        <div class="row" style="padding-left: 10%; padding-right: 10%; padding-top: 2%">
          <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <img src="{% static 'base/sigil_icon_blue.png' %}" alt="sigil" width="50" height="50" class="circle">
              <div class="caption">
                <h3>App Name</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <img src="{% static 'base/sigil_icon_blue.png' %}" alt="sigil" width="50" height="50" class="circle">
              <div class="caption">
                <h3>App Name</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <img src="{% static 'base/sigil_icon_blue.png' %}" alt="sigil" width="50" height="50" class="circle">
              <div class="caption">
                <h3>App Name</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>

    {% endblock %}