body {

  background-color: #18181E;
    color: white;  

}

h1 {

    font-family: 'Nova Flat', sans-serif;
}

p {

    font-family: 'Nunito', sans-serif;

}

h2 {

    font-family: 'Nova Flat', sans-serif;

}
h3 {

    font-family: 'Nova Flat', sans-serif;

}
h4 {
       font-family: 'Nova Flat', sans-serif;
    }

small {
    font-family: 'Nova Flat', sans-serif;
}

#register {
    color: #FF5A09;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 16px;
}

#register a {
    color: white;
}

#register a:hover{
    color: #337ab7;
    text-decoration: none;
}

#title {
    font-family: 'Nova Flat', sans-serif;
    color: white;
    padding-left: 0;
}

.btn {

     font-family: 'Nova Flat', serif;
}

.jumbotron {
    font-family: 'Nova Flat', serif;
    color: #18181E;
}

#enhance {
    font-weight: bold;
}

.lead {
    font-family: 'Nunito', sans-serif;
}

#react-loader {
    text-align: center;
}