 /*responsive text queries*/

 body {

    background-color: #212121;

}

#content {
     padding-right: 2px;
     padding-left: 2px;
     margin-right: auto;
     margin-left: auto;
 }

 @media screen and (max-width: 2560px) {
    p,.btn,input,span,h4,.jumbo-button {
        font-size: 100%;
    }
    h1 {
        font-size: 27px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 24px;
    }
    h1.h1-jumbo {
        font-size:65px;
    }
    th.th-date {
        font-size: 45px;
    }
    th.th-jumbo {
        font-size: 25px;
    }
    td.td-jumbo {
        font-size: 25px;
    }
    th.th-jumbo-foot {
        font-size: 25px;
    }
    td.td-jumbo-foot {
        font-size: 25px;
    }

    th.th-card {
        font-size: 25px;
    }

    td {
        font-size: 25px;
    }

    td.dash {
        font-size: 24px;
    }
    th.dash {
        font-size: 26px;
    }
    .PositiveSavings {
        font-size: 24px;
    }
    .NegativeSavings {
        font-size: 24px;
    }
    #chart2 {
        height: 85px;
        width:100%;
    }
    .list_title {
        font-size: 70px;
    }
    .monthly_total_pos {
        font-size: 40px;
}
    .monthly_total_neg {
        font-size: 40px;
}
    .monthly_total {
        font-size: 60px;
    }




}

@media screen and (max-width: 992px) {
    p,.btn,input,span,h4,.jumbo-button {
        font-size: 97%;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 22px;
    }
    h1.h1-jumbo {
        font-size:55px;
    }
    th.th-date {
        font-size: 35px;
    }
    th.th-jumbo {
        font-size: 22px;
    }
    td.td-jumbo {
        font-size: 22px;
    }
    th.th-jumbo-foot {
        font-size: 22px;
    }
    td.td-jumbo-foot {
        font-size: 22px;
    }
    th.th-card {
        font-size: 22px;
    }
    td {
        font-size: 25px;
    }
    td.dash {
        font-size: 22px;
    }
    th.dash {
        font-size: 26px;
    }
    .PositiveSavings {
        font-size: 22px;
    }
    .NegativeSavings {
        font-size: 22px;
    }
    #chart {
        display: none;
    }
    #chart2 {
        display: none;
    }
    .list_title {
        font-size: 50px;
    }
   .monthly_total_pos {
        font-size: 28px;
}
    .monthly_total_neg {
        font-size: 28px;
    }
    .monthly_total {
        font-size: 40px;
    }

}

@media screen and (max-width: 768px) {
    p,.btn,input,span,h4,.jumbo-button {
        font-size: 95%;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h1.h1-jumbo {
        font-size:45px;
    }
    th.th-date {
        font-size: 25px;
    }
    th.th-jumbo {
        font-size: 20px;
    }
    td.td-jumbo {
        font-size: 20px;
    }
    th.th-jumbo-foot {
        font-size: 19px;
    }
    td.td-jumbo-foot {
        font-size: 20px;
    }
    th.th-card {
        font-size: 20px;
    }
    td {
        font-size: 25px;
    }
    td.dash {
        font-size: 20px;
    }
    th.dash {
        font-size: 24px;
    }
    .PositiveSavings {
        font-size: 20px;
    }
    .NegativeSavings {
        font-size: 20px;
    }

    #chart {
        display: none;
    }

    #chart2 {
        display: none;
    }
    .list_title {
        font-size: 36px;
    }
    .monthly_total_pos {
        font-size: 24px;
}
    .monthly_total_neg {
        font-size: 24px;
    }
}

@media screen and (max-width: 568px) {

    h3 {
        font-size: 14px;
    }

    h1.h1-jumbo {
        font-size: 32px;
    }

    th.th-date {
        font-size: 18px;
    }
    th.th-jumbo {
        font-size: 14px;
    }
    td.td-jumbo {
        font-size: 14px;
    }
    th.th-jumbo-foot {
        font-size: 10px;
    }
    td.td-jumbo-foot {
        font-size: 14px;
    }
    td.dash {
        font-size: 14px;
    }
    th.dash {
        font-size: 18px;
    }
    .PositiveSavings {
        font-size: 14px;
    }
    .NegativeSavings {
        font-size: 14px;
    }
    #chart {
        display: none;
    }

    #chart2 {
        display: none;
    }
    .list_title {
        font-size: 28px;
    }
    .monthly_total_pos {
        font-size: 18px;
}
    .monthly_total_neg {
        font-size: 18px;
    }
}

/*Savings Color Change */
.NegativeSavings {
    color: #DC143C;
    font-weight: bold
}

.PositiveSavings {
    float: inherit;
    color: #169C08;
    font-weight: bold
}

/*Jumbotron style*/
    .jumbotron {
        font-family: 'Andale Mono', AndaleMono, monospace ;
        background: white;
        padding: 2%;
        margin-bottom: 0

    }

    h1.h1-jumbo {
        font-family: 'Andale Mono', AndaleMono, monospace ;
        margin-top: 0;
        color: #FF5A09;
        size: auto
    }

    th.th-date {
        color: #337ab7;
        font-family: 'Andale Mono', AndaleMono, monospace ;
        text-decoration: underline;

    }

    th.th-jumbo {
        color: #337ab7;
        font-family: 'Andale Mono', AndaleMono, monospace;

    }

    td.td-jumbo {
        color: #FF5A09;
        font-family: 'Andale Mono', AndaleMono, monospace ;
    }

    th.th-jumbo-foot {
        width: 33.33%;
        color: #b48c36;
        font-family: 'Andale Mono', AndaleMono, monospace ;
        text-align: center;
    }

    td.td-jumbo-foot {
        width: 33.33%;
        color: #DC143C;
        font-family: 'Andale Mono', AndaleMono, monospace ;
        text-align: center;
    }

    .jumbo-button {
        padding: 0;
        margin-bottom: 0;
        text-align:right;
        font-family: 'Andale Mono', AndaleMono, monospace ;
    }

/*Monthly Card Style*/

    .card-button {
        padding: 0;
        margin-bottom: 0;
        font-family: 'Andale Mono', AndaleMono, monospace ;
    }
    .thumbnail {
        background: white;
    }

    h2 {
        text-align:center;
        color: #337ab7;
        font-family: 'Andale Mono', AndaleMono, monospace ;
        text-decoration: underline;
    }

    .table {
        text-align: center;
        color: #FF5A09;
        margin-bottom: 0;
        font-family: 'Andale Mono', AndaleMono, monospace ;
    }

    th.th-card {
        text-align:center;
        color: #337ab7;
    }

    td.td-month {
        color: #DC143C
        }

    h4, h3 {
        padding: 0;
        margin-bottom: 0;
        text-align:center;
        font-family: 'Andale Mono', AndaleMono, monospace ;

    }

    td.dash {
        color: white;
    }

    th.dash {
        color: white;
        font-weight: bolder;
        text-align: center;
    }
    tr.foot {

    }

    a.dash {
        color: white;
    }

    a.dash:hover {
        color: #337ab7;
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #262626;
}


#chart {
    font-family: 'Andale Mono', AndaleMono, monospace ;
}

#chart2 {
    margin-top: 20px;
}

.progress {
    height: 20px;
    border-radius:20px;
    margin-bottom: 0;
}
.progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
}
span.prog {
    display:block;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    text-transform:uppercase;
    color: #888888;
    line-height: 17px;
    margin-bottom:5px;
}
.progress-bar {
    text-align: center;
    font-family: 'Andale Mono', AndaleMono, monospace ;
    color: white;
    font-size: medium;
    border-radius:20px;
    transition-duration: 3s;
}

/*index_list.html styles*/

.monthly_total {
    color: white;
    font-family: 'Andale Mono', AndaleMono, monospace ;
    text-align: center;
    margin-top: 5px;
}

.monthly_total_neg {
    color: #DC143C;
    font-weight: bold;
    font-family: 'Andale Mono', AndaleMono, monospace ;
    vertical-align: middle;
    text-align: center;
}

.monthly_total_pos {
    color: #169C08;
    font-weight: bold;
    font-family: 'Andale Mono', AndaleMono, monospace ;
    vertical-align: middle;
    text-align: center;
}

.list_title {

    color: white;
    font-family: 'Andale Mono', AndaleMono, monospace ;
    text-align: center;
    vertical-align: middle;
    margin: 2px 15px 0;
    text-decoration: underline;

}





