{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#css#}
    {% include 'css.html' %}
    {% include 'bootstrap_defaults.html' %}
    {#js#}
    {% include 'js.html' %}
    {#staticfiles#}
    <link rel="stylesheet" href='{% static 'css/main.css' %}'/>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    {% block head %}
    {% endblock %}

    <title>VVAYNE</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class= "navbar-brand" href="#" style="padding: 0">
                    <img src="{% static 'images/sigil_icon_blue.png' %}" alt="sigil" width="50" height="50"></a>

                <a class="nav navbar-brand" style="font-family:'Righteous', serif; color: #333">VVAYNE</a>

            </div>
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="mainNavBar" style="font-family: 'Nova Flat', serif">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a> </li>
                    <li><a href="{% url 'home:about' %}">About</a> </li>
                    <li><a href="{% url 'posts:list' %}">Blog {% if Pnew_posts == True %}<span class="label label-default">New</span>{% endif %}</a></li>
                    <li><a href="{% static 'docs/resume/resume.pdf' %}" TARGET="_blank">Rèsumè</a></li>

                    <!-- DropDownMenu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Apps <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'argent:index' %}">TRAVELSAVE</a> </li>
                        </ul>
                    </li>
                </ul>
                <!-- right aligned menu -->
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_staff or request.user.is_superuser %}<li><a style="padding-right:0" href="{% url 'admin:index' %}">{% if request.user.is_authenticated %}{{ request.user.username }}</a></li>{% endif %}{% else %}{% if request.user.is_authenticated %}<li class="username">{{ request.user.username }}</li> {% endif %}{% endif %}
                    <li><a style="padding-left: 5px" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                </ul>

            </div>

        </div>
    </nav>

    {% block title %}
    {% endblock %}
    {% block content %}
    {% endblock %}

    <script>
        $(document).ready(function(){
            {% block jquery %}
            {% endblock %}
        })
    </script>

</body>

</html>

