{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include "css.html" %}
  {% include "js.html" %}
  {% include "css_alt.html" %}
  <title>VVAYNE</title>

  <!-- Bootstrap -->

  {% block head %}
  {% endblock %}

  <script>
      $(".hover").mouseleave(
          function () {
              $(this).removeClass("hover");
          }
      );
  </script>
</head>
<body>


{% block title %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>

