
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@media screen and (max-width: 2560px) {

    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }

    pre {
        font-size: 16px;
    }

}

@media screen and (max-width: 992px) {

    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }

    pre {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }

    pre {
        font-size: 12px;
    }

}

@media screen and (max-width: 568px) {

    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }

    pre {
        font-size: 8px;
    }

}

body {

  background-color: #333;

}

h1 {

    font-family: 'Nova Flat', sans-serif;
}

p {

    font-family: 'Nunito', sans-serif;

}

h2 {

    font-family: 'Nova Flat', sans-serif;

}
h3 {

    font-family: 'Nova Flat', sans-serif;

}
h4 {
       font-family: 'Nova Flat', sans-serif;
    }

small {
    font-family: 'Nova Flat', sans-serif;
}

.btn {

     font-family: 'Nova Flat', serif;
}

.pager {
    font-family: 'Nova Flat', serif;
}


.publish_date {
    font-family: 'Nova Flat', serif;
    color: #777777;

}

.title {
    font-family: 'Nova Flat', serif;
    margin-top: 10px;
}

.lead {
    font-family: 'Nova Flat', serif;
}

.author {
    font-family: 'Nova Flat', serif;
    margin-top: 10px
}

.image_source {
    float: right;
    margin-right: 5px;
}

.img {

}


.tabheader {
    color: white;
    font-weight: 400;

}

#register {
    color: #FF5A09;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 16px;
}

#register a {
    color: white;
}

#register a:hover{
    color: #337ab7;
    text-decoration: none;
}

.feedback {
    color: white;
}
