{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href='{% static "posts/css/posts.css" %}'/>
{% endblock head %}

{% block content %}
  {% include "posts/messages_display.html" %}

  {% if not request.user.is_authenticated %}
    <h3 id="register"><a href="{% url 'accounts:login' %}">Login</a> or <a
        href="{% url 'accounts:register' %}">Register</a> for full access!</h3>
  {% endif %}
  <div class="container-fluid">
    <div id='root'></div>
  </div>

{% endblock content %}